:not(:defined)>* {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  --poster-color: transparent;
}



.userInput {
  margin-left: 10% !important;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(-100px);
  }
}

model-viewer>#ar-prompt {
  position: absolute;
  left: 50%;
  z-index: 1000;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
  display: block;
}

model-viewer>#ar-prompt>img {
  animation: circle 4s linear infinite;
}

.Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
  z-index: 10 !important;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid black;
  background-color:#ffd000;
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot>* {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: #ffd000;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 900;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}

.Hotspot:not([data-visible])>* {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}


/* costum css */

.menu_list {
  width: 15% !important;
  background-color: #18B5B4 !important;
  height: 100% !important;
  z-index: 1000000 !important;
}

.Select {
  background-color: #6C757D;
}

.Data-text {
  background: #d4d4d467;
  z-index: 10000 !important;
  position: absolute;
  top: 0;
  right: 5%;
  left: 20%;
}

.display-None {
  display: none;
}

.display-Block {
  display: block;
}

.btn-sub {
  width: 95% !important;
  background-color: #18b5b4 !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  font-weight: bolder;
}

.btn-sub:hover {
  width: 95% !important;
  background-color: rgba(151, 162, 162, 0.47) !important;
  border: 3px solid #ffffff !important;
  font-weight: bolder;
}

.Select {
  background-color: rgba(151, 162, 162, 0.47) !important;
  border: 3px solid #ffffff !important;
  font-weight: bolder;
  font-size: 20px;
  color: #fff !important;
  font-size: 20px;
}

.sub_Detailes {
  display: none
}

.Bg-TH{
  background-color: #ffd000 !important;
  font-size: 14 px;
}

.table{
  border: 2px solid bla;
}

.table-data{
  position: fixed;
  top: 0;
  right: 0;
  width: 900px !important;
}

.table{
  background-color: #d0dcf3;
  font-size: 15px !important;

}

.border{
  border: none !important;
}

.align-middle{
font-size: 12px;
}

.pl{
  padding-left: 25% !important;
}

.header-color{
  background-color: #FC3B2F !important;
}

.btn-close{
  font-size: 10px !important;
  font-weight: 900 !important;
}

.btn_Menu{
 border-radius: 50% !important;
 margin: 10px;
 display: none !important;
}

.display_none{
  display: none !important;
}

td{
  font-weight: 600 !important;
}

.Show_Responsiv{
  display: block !important;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
}

@media screen and (max-width: 1000px) {
  .table{
    position: fixed;
    top: 0;
   
    right: 0;
  }
  .menu_list{
    display: none;
  }
  model-viewer{
    width: 100%;
  }
  .display_none{
    display: block !important;
  }
  .btn_Menu{
    display: block !important;
  }

}
/* scroll */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #25252541;
}
.right-0{
  right: 0;
}
  
.Font-Size{
  font-size: 14px !important;
  font-weight: 600 !important;
}
.justyfiy{
  text-align: justify;
  text-justify: inter-word;
}
